*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Public Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0 0 1rem 0;
}




